.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    gap: 10px;
    display: grid;
    place-content: center;
}

.navbar__title {
    font-size: 24px;
    margin: 0;

}

@media (min-width: 768px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }
    .navbar__title {
        font-size: 30px;
    }

}

.navbar__btn {
    text-decoration:none;
    min-width: 300px;
    justify-content: center;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color: #555A88;
    border-color: #d8d8d8;
    border-width: 3px;
    border-style: solid;
    border-radius:5px;
    cursor: pointer;
}

.navbar__btn:hover {
    background-color: rgb(169, 124, 197);
}